@charset "UTF-8";

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
} */


.visual-box {
	width: 100%;
	height: 250px;
	margin-top: 10px;
	background-color: #001eff09;
	background-image: url('../img/announce-2503.png');
}

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
.visual-box-in .header{
  /* font-family: 'NanumSquare', sans-serif; */
  font-size:30px;
  font-weight:bold;
  /* text-shadow:3px 3px 5px #999; */
  /* margin:110px 0px -5px 0px; */
  /* padding-left:1000px; */
  text-align:right;
  padding-top:90px;
  margin-right:280px;
  color:rgb(46, 46, 46);
}
.visual-box-in .desc {
  /* font-family: 'NanumSquare', sans-serif; */
  font-size:18px;
  /* line-height:25px; */
  /* font-weight:300; */
  text-align:right;
  color:#4e4e4e;
  margin-top:9px;
  margin-right:280px;
}
.pagination{
	width:1200px;
  /* height:250px; */
  height:50px;
	/* background:url(../../resources/img/faq.jpg) no-repeat center center; */
	background-size:cover;
	margin:0 auto;
	/* padding-top:140px; */
}


/* =======menu  */
.notimenu{
  /* font-family: 'NanumSquare', sans-serif; */
    width:1200px;
	margin:0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #555;
    padding:15px 0;
    margin-bottom: 60px;
}
.notisubmenu{
    width:800px;
}
.notisubmenu a{
  /* font-family: 'NanumSquare', sans-serif; */
    color:#555;
    text-decoration: none;
    margin-right: 40px;
    font-size:21px;
    font-weight:bold;
    padding:15px 17px 15px 17px;
}

.notisubmenu a:hover {
  background:#001eff21;
  border-bottom:3px solid #001eff;
}

.notisubmenu a:nth-child(1){
    color:#001eff;
    border-bottom:3px solid #001eff;
    padding-bottom: 15px;
}

/* 아코디언  */
#announce{
    width:1000px;
    margin:0 auto;
     font-size:15px;
     margin-bottom:60px;
}
.accordion {
  /* font-family: 'NanumSquare', sans-serif; */
    background:rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    /* text-indent:5px; */
    font-weight:bold;
    width: 1000px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    /* transition: 0.2s; */
   /*  border-top: 1px solid #999; */
    border-left:3px solid #fff;
    line-height: 30px; 
    
  }

.accordion:first-child{
	border-top:1px solid #999;
}
  .question{
    /* font-family: 'NanumSquare', sans-serif; */
      width:30px;
      height:30px;
      display: flex;
      justify-content: center;
      align-items: center;
       border-radius: 50%; 
      text-align: center;
      vertical-align: middle;
      float:left;
      margin-right:10px;
     
  } 
 .accordion span{
      margin-top:15px;
      line-height: 30px;
  } 

 
  .active{
    border-left:3px solid #001eff;
  }

  .accordion:hover {
      background-color: #001eff;
      color:white;
  }
  
  .accordion:after {
    /* font-family: 'NanumSquare', sans-serif; */
    content: '\002B';
    color: #001eff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    line-height: 30px;
  }
  .active:after {
    content: "\2212";
  }
  .panel {
    background-color:#fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-left:3px solid #001eff;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
    border-bottom:1px solid #999;
    margin-bottom:0px;
  }
  
  .panel span {
  	float:right;
  	margin-top:20px;
  	margin-right:30px;
  	font-size:13px;
  }

  .panel p{
    /* font-family: 'NanumSquare', sans-serif; */
    margin-top:10px;
    /* margin-bottom:20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 60px;
    line-height:30px;
  }
  
  .announce-submit a {
  	float:right;
  	margin-top:10px;
  	margin-right:60px;
  	margin-bottom:40px;
  }