*{
    font-family: 'NanumSquare', sans-serif !important;
}
header{
    height:50px;
}

section{
    position:relative;
    width: 713px;
    left: 120px;
    top: 50px;   
}
/* .img-form{
    position:absolute;
    width: 713px;
    height: 433px;
    border : 1px solid black;
}  
*/
.selection{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.select-kind{
    margin-right: 30px;
}
.select-onoff{
    margin-right: 30px;
}


#exampleFormControlFile1{
    margin-bottom: 50px;
}

aside{
position: absolute;
width:400px;
left: 900px;
top:410px;

}

.form-control{
width:150px;
margin-bottom: 50px;

}
.form-row{
/* width:300px; */
display: flex;
flex-direction: row;
}

#tilde{
font-size: 2em;
}

.calanderimg{
width:30px;
height: 30px;
margin-right:5px;
}

.clubdate{
display: flex;
flex-direction: row;
}

#club-title{
    width:713px;
}
.location{
margin-left: 30px;
}

.location img{
width:15px;
height: 15px;

}


article{
position:absolute;
}

textarea{
width: 713px;
height: 400px;
resize: none; 
margin-bottom:10px;
border: 1px solid #dddddd;
}

#write-hashtag{
width: 713px;

}

.hashtag-wrap{
    margin-bottom:200px;
    display: inline-block;
}

.hashbadge{
    font-size:15px;
    margin-right: 5px;
}
.radioBtn{
    margin-bottom:50px;
}

.clubfeeBox{
    display:none;
}

#applyBtn{
/* position: absolute; */
width: 380px;
height: 50px;
top: 350px;
border: 0;
outline:0;
color:white;
background-color: #001eff;
margin-top:30px;

}
