* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'NanumSquare';
}
a{
  	text-decoration : none;
  }
.jumbotron {
	width: 80%;
	height: 240px;
	background-color: rgba(217, 223, 226, 0.575);
	position: relative;
	left: 50%;
	transform: translate(-50%, 10%);
}
#sort {
	width: 1200px;
	display: flex;
	justify-content: flex-start;
	margin: 30px auto 30px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

#sort .half {

    text-align: center;
    font-size: 25px;    
    margin: 0 15px;
}

#sort ul {
	margin-top: 50px;
}

#sort ul li {
	display: inline
}

.order_button {
	border-right: 1px solid #ddd;
	padding: 0 20px;
}

.order_button a {
	color: #000;
}

.order_button:first-child {
	padding-left: 0px;
}

.order_button:last-child {
	border: none;
}

#sort>ul>.active>a, #sort>ul>.active>a:focus, #sort>ul>.active>a:hover, #sort>ul>.active>span, #sort>ul>.active>span:focus, #sort>ul>.active>span:hover
	{
	color: #ffaf31;
	cursor: default;
}
.page-item active {
	color: rgb(0, 30, 250);
}
.jumbotron{
	padding:10px 10px 10px 10px
}
#favorite {
	float: left;
	padding-right: 30px;
}

.search {
	padding-top: 20px;
} 

/* .searchform-title {
	margin: 0;
	padding: 0;
	font-size: 15px;
} */

.gallery-container {
	width: 1200px;
	height: auto;
	margin: auto;

}

.card-bodyarea {
	padding: 20px 2px 100px 2px;
}

.card-content {
	position: relative;
	padding: 10px 0 40px 3px;
}

.card-content b {
	color: rgb(0, 0, 0);
}

/* 더하기 리스트*/
.gallerytitle {
	padding-bottom: 10px;
}

#onoff {
	background-color: #00af91;
}

#freq {
	background-color: #ffb26b;
}

.spanspace {
	padding-bottom: 10px;
}

.clubtitle {
	font-size: 19px;
	font-weight: 600;
	color: #303333;
}

.subtitle {
	font-size: 14px;
	font-weight: 300;
	color: #9B9EA5;
	padding: 3px 0px 15px 2px;
}

.period {
	font-size: 15px;
	color: #303333;
	font-weight: 600;
}

.shutdown {
	font-size: 15px;
	color: #303333;
	font-weight: 600;
}

.person {
	padding-top: 5px;
	font-size: 15px;
	color: #303333;
	font-weight: 600;
}

.person b {
	font-size: 17px;
	color: rgb(0, 30, 250);
	font-weight: 900;
}
.lightbox img {
	width: 100%;
	height: 200px;
	 transition: .1s;
	  
}
.lightbox img : hover {
	 transform: scale(1.05);
}
   #pageArea{
        margin:0 auto;
        position:relative;
        padding-bottom:100px;
        }
        
        .paging{
        margin-top:10px;
        position:absolute;
        left:45%;
        }
        
       .paging > li{
        list-style:none;
        float:left;
        padding:6px 1px;
        }
        
        .span{
        padding:6px 12px;
        border: 1px solid lightgray;
        }
        
        #info, .paging >li :hover{
        text-decoration:none;
        background-color: rgba(146, 194, 221);
        }
        
      
    
</
style
>