<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.AdminMapper">

	<resultMap id="adminResult" type="inquiry">
		<id property="inquiryNum" column="inquiry_num" />
		<result property="memberNum" column="member_num" />
		<result property="inquiryTitle" column="inquiry_title" />
		<result property="inquiryContent" column="inquiry_content" />
		<result property="inquiryType" column="inquiry_type" />
		<result property="inquiryState" column="inquiry_state" />
		<result property="inquiryAnswer" column="inquiry_answer" />
 		<result property="inquiryRegDate" column="inquiry_regdate" />
 		<result property="inquiryAnswerDate" column="inquiry_answer_date" />
		<result property="memberEmail" column="member_email"/>
		<result property="memberNickname" column="member_nickname" />
	</resultMap>

	<delete id="deleteAdminInquiry">
		DELETE FROM INQUIRY WHERE INQUIRY_NUM=#{inquiryNum}
	</delete>
	
	
	<!-- 관리자 : 답변 작성 
	<update id="answerInquiry">
		UPDATE INQUIRY SET INQUIRY_ANSWER=#{inquiryAnswer}, INQUIRY_STATE='답변완료' WHERE INQUIRY_NUM=#{inquiryNum} 
	</update> -->
	
	<!-- 관리자 : 답변 작성 테스트중  -->
	<update id="answerInquiry">
		UPDATE INQUIRY SET MEMBER_NUM=1, INQUIRY_ANSWER=#{inquiryAnswer}, INQUIRY_STATE='답변완료',
		INQUIRY_ANSWER_DATE=now() WHERE INQUIRY_NUM=#{inquiryNum} 
	</update>
	
	<select id="getAdminChart" resultType="Integer">
		SELECT count(*) FROM member;
	</select>
	
	
	<!-- 문의글 개별 상세 조회 -->
	<select id="getAdminInquiry" resultMap="adminResult">
		SELECT inquiry_num, inquiry_title, MEMBER.member_num, inquiry_content, inquiry_type, inquiry_state, 
		inquiry_answer, inquiry_regdate, member_email, member_nickname, inquiry_answer_date
		FROM INQUIRY JOIN MEMBER USING (member_num) WHERE INQUIRY_NUM=#{inquiryNum}
	</select> 
	
	<!-- 관리자용 : 모든 회원이 쓴 문의글 출력 -->
	<select id="getAdminInquiryList" resultMap="adminResult">
		SELECT * FROM INQUIRY
		ORDER BY INQUIRY_REGDATE DESC
	</select> 

	
	<!-- 관리자 입장에서 카테고리별 문의글 검색기능? 넣어야하나 말아야하나? 이걸 만들면 관리자용 1:1문의에서 카테고리별로 볼수있는 드롭다운을 또 추가해서 새로 만들어야함
	<select id="getInquiryTypeList" resultMap="inquiryResult">
		SELECT * FROM INQUIRY WHERE
		INQUIRY_TYPE=#{inquiryType}
	</select>-->

</mapper>