<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.plus.mapper.AnnounceMapper">
	
	<resultMap id="announceResult" type="announce">
		<id property="announceNum" column="announce_num"/>
		<result property="announceTitle" column="announce_title"/>
		<result property="announceContent" column="announce_content"/>
		<result property="announceRegDate" column="announce_regdate"/>
	</resultMap>
	
	

	<insert id="insertAnnounce">
		<!-- <![CDATA[
			INSERT INTO ANNOUNCE(ANNOUNCE_NUM, ANNOUNCE_TITLE, ANNOUNCE_CONTENT, ANNOUNCE_REGDATE)
			VALUES((SELECT NVL(MAX(SEQ), 0) + 1 FROM ANNOUNCE),
			#{announceTitle},#{announceContent},#{announceRegDate})
		]]> -->
		insert into announce(announce_title, announce_content, announce_regdate) values (#{announceTitle},#{announceContent},now())
	</insert>
	
	<update id="updateAnnounce">
			UPDATE ANNOUNCE SET ANNOUNCE_TITLE=#{announceTitle}, ANNOUNCE_CONTENT=#{announceContent} 
			WHERE ANNOUNCE_NUM=#{announceNum}
	</update>
	
	<delete id="deleteAnnounce">
			DELETE FROM ANNOUNCE WHERE ANNOUNCE_NUM=#{announceNum}
	</delete>
	
	<select id="getAnnounce" resultMap="announceResult">
			SELECT * FROM ANNOUNCE WHERE ANNOUNCE_NUM=#{announceNum}
	</select>
	
	<select id="getAnnounceList" resultMap="announceResult">
		SELECT * FROM ANNOUNCE ORDER BY ANNOUNCE_NUM DESC
		<!-- WHERE 1=1
		<if test="searchCondition == 'TITLE'">
			AND TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'CONTENT'">
			AND CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'WRITER'">
			AND WRITER LIKE '%'||#{searchKeyword}||'%'
		</if> -->
		
	</select>
</mapper>