<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.ApplyMapper">

	<resultMap id="applyResult" type="apply">
		<id property="applyNum" column="apply_num" />
		<result property="clubNum" column="club_num" />
		<result property="memberNum" column="member_num" />
		<result property="applyDate" column="apply_date" />
	</resultMap>

	<!-- 신청내역 insert  -->
	<insert id="apply">
		INSERT INTO APPLY(club_num, member_num, apply_date) VALUES (#{clubNum}, #{memberNum}, NOW())
	</insert>
	
	<!-- 신청내역 중복검사를 위해 정보 가져오기 -->
	<select id="getOneApply" resultType="Integer">
		SELECT count(*) FROM APPLY WHERE club_num = #{clubNum} AND member_num = #{memberNum}
	</select>
	
	
	

<!-- 정연 하단 추가 20210326 -->

	<!--========Free Club Insert applyTable=========  -->
	<insert id="applyFreeClub">
		<![CDATA[
		INSERT into apply (member_num, club_num, apply_date)
		VALUES (#{memberNum}, #{clubNum},now())
		]]>
	</insert>

	<!--========이전에 신청했던 모임인지 아닌지 검사하기위한 select문=========  -->
	<select id="checkApplyClub" resultType="com.project.plus.domain.ApplyVO">
		<![CDATA[
		SELECT apply_num as applyNum
		FROM apply 
		WHERE member_num = #{memberNum}
		AND club_num = #{clubNum}
		]]>
	</select>
	
	<select id="checkApplyClubByMemberNum" resultType="com.project.plus.domain.ApplyVO">
		<![CDATA[
		SELECT 
			apply_num as applyNum,
			club_num as clubNum, 
			member_num as memberNum
		FROM apply 
		WHERE member_num = #{memberNum}
		]]>
	</select>
	
	<select id="applyPayClubInfo" resultType="com.project.plus.domain.ApplyVO">
		SELECT club_name as clubName, club_fee as clubFee
		FROM club 
		WHERE 1=1 AND club_num IN (
			<foreach collection="clubNumArr" item="arr" separator=",">
            	#{arr}
        	</foreach>
        	)
	</select>

</mapper>