<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.ClubMapper">
	<resultMap id="clubResult" type="club">
		<id property="clubNum" column="club_num" />
		<result property="clubName" column="club_name" />
		<result property="clubLeader" column="club_leader" />
		<result property="clubTown" column="club_town" />
		<result property="clubKind" column="club_kind" />
		<result property="clubCategory" column="club_category" />
		<result property="clubOnOff" column="club_onoff" />
		<result property="clubThumb_pic" column="club_thumb_pic" />
		<result property="clubMain_pic" column="club_main_pic" />
		<result property="clubMax" column="club_max" />
		<result property="clubFreq" column="club_freq" />
		<result property="clubContent1" column="club_content1" />
		<result property="clubContent1_pic" column="club_content1_pic" />
		<result property="clubContent2" column="club_content2" />
		<result property="clubContent2_pic" column="club_content2_pic" />
		<result property="clubStartDate" column="club_startdate" />
		<result property="clubEndDate" column="club_enddate" />
		<result property="clubMakeDate" column="club_makedate" />
		<result property="clubShutDate" column="club_shutdate" />
		<result property="clubFee" column="club_fee" />
		<result property="clubCurnum" column="club_curnum" />
		<result property="clubHashtag" column="club_hashtag" />
	</resultMap>
	
	<resultMap id="applyResult" type="apply">
		<id property="applyNum" column="apply_num" />
		<result property="clubNum" column="club_num" />
		<result property="memberNum" column="member_num" />
		<result property="applyDate" column="apply_date" />
	</resultMap>


	<select id="getClub" resultMap="clubResult">
		SELECT * FROM CLUB WHERE
		club_num = 11
	</select>
	
	<select id="getClubHashtag" resultType="string">
		SELECT
		SUBSTRING_INDEX (SUBSTRING_INDEX(Club.club_hashtag,',',numbers.n),',',-1)
		club_hashtag

		FROM
		(select 1 n union all select 2
		union all select 3 union all select 4
		union all select 5 union all select 6
		union all select 7 union all select 8
		union all select 9 union all select 10) numbers INNER JOIN club
		on CHAR_LENGTH ( Club.club_hashtag )
		- CHAR_LENGTH ( REPLACE ( Club.club_hashtag , ',' , '' ))>= numbers .
		n-1
		WHERE SUBSTRING_INDEX ( SUBSTRING_INDEX ( Club.club_hashtag , ' ' , numbers
		. n ), ' ' , -1 ) != ' ' AND club_num=33
	</select>
	
	<select id="getMyClubInfo" resultMap="clubResult">
		SELECT * FROM CLUB WHERE club_leader = '의지박약'  AND club_num = 6
		SELECT * FROM CLUB WHERE club_leader = '블루베리' AND club_num = 17
	</select>

	<insert id="insertClub">
	<![CDATA[
		INSERT INTO CLUB(club_name, club_leader, club_town, club_kind, club_category, club_main_pic, club_thumb_pic,
		club_onoff, club_max, club_freq, club_content1, club_content1_pic, club_content2, club_content2_pic,
		club_makedate, club_shutdate, club_startdate, club_enddate, club_fee, club_hashtag, club_curnum)
		VALUES(#{clubName}, '블루베리', '마포구', #{clubKind}, #{clubCategory}, #{clubMain_pic}, #{clubThumb_pic},
		#{clubOnOff}, #{clubMax}, #{clubFreq}, #{clubContent1}, #{clubContent1_pic}, #{clubContent2}, #{clubContent2_pic},
		NOW(), #{clubShutDate}, #{clubStartDate}, #{clubEndDate}, #{clubFee}, #{clubHashtag}, #{clubCurnum})
	]]> 
	</insert>
	
	<update id="updateClub">
		UPDATE CLUB SET club_town='마포구', club_category=#{clubCategory}, club_max=#{clubMax}, club_freq=#{clubFreq}, club_main_pic=#{clubMain_pic}, 
		club_thumb_pic=#{clubThumb_pic}, club_content1=#{clubContent1},club_content1_pic=#{clubContent1_pic}, club_content2=#{clubContent2}, 
		club_content2_pic=#{clubContent2_pic}, club_makedate=#{clubMakeDate}, club_shutdate=#{clubShutDate}, club_startdate=#{clubStartDate}, 
		club_enddate=#{clubEndDate}, club_fee=#{clubFee}, club_hashtag=#{clubHashtag}, club_curnum=#{clubCurnum}
		WHERE club_num = 6
	</update>
	
	<delete id="deleteClub">
		DELETE FROM CLUB WHERE CLUB_NUM = #{clubNum}
	</delete>
	
		<!-- 신청내역 insert  -->
	<insert id="apply">
		INSERT INTO APPLY(club_num, member_num, apply_date) VALUES (#{clubNum}, #{memberNum}, NOW())
	</insert>
	
	<!-- 신청내역 중복검사를 위해 정보 가져오기 -->
	<select id="getOneApply" resultType="Integer">
		SELECT count(*) FROM APPLY WHERE club_num = #{clubNum} AND member_num = #{memberNum}
	</select>
	
	<!-- 방장 x , 참여중인 모임 목록 가져오기 -->
<!-- <select id="getAttendClubList" resultMap="club">
		SELECT * FROM CLUB WHERE club_leader != #{clubLeader} AND club_num IN (SELECT club_num FROM APPLY WHERE member_num = #{memberNum})
	</select> -->
	
		<!-- 방장 o, 개설한 모임 가져오기 -->
<!-- <select id="getOpenClubList" resultMap="club">
		SELECT * FROM CLUB WHERE club_leader = #{clubLeader}
	</select> -->
</mapper>