<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.FaqMapper">
	<resultMap id="faqResult" type="faq">
		<id property="faqNum" column="faq_num"/>
		<result property="faqCategory" column="faq_category"/>
		<result property="faqTitle" column="faq_title"/>
		<result property="faqContent" column="faq_content"/>
	</resultMap>

	<insert id="insertFaq">
		<![CDATA[
			INSERT INTO FAQ(FAQ_NUM, FAQ_CATEGORY, FAQ_TITLE, FAQ_CONTENT)
			VALUES((SELECT NVL(MAX(SEQ), 0) + 1 FROM FAQ),
			#{faqCategory},#{faqTitle},#{faqContent})
		]]>
	</insert>
	
	<update id="updateFaq">
		<![CDATA[
			UPDATE FAQ SET FAQ_CATEGORY=#{faqCategory}, FAQ_TITLE=#{faqTitle}, FAQ_CONTENT=#{faqContent} 
			WHERE FAQ_NUM=#{faqNum}
		]]>
	</update>
	
	<delete id="deleteFaq">
		<![CDATA[
			DELETE FAQ WHERE FAQ_NUM=#{faqNum}
		]]>
	</delete>
	
	<select id="getFaqList" resultMap="faqResult">
		SELECT * FROM FAQ
		ORDER BY FAQ_NUM DESC;
	</select>
</mapper>