<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.HeartMapper">
	
<!--========결제가 필요없는 모임=========  -->
	<select id="selectFreeClub" resultType="com.project.plus.domain.HeartVO">
		<![CDATA[
			SELECT 
				heart.heart_num as heartNum, 
				heart.member_num as memberNum , 
				heart.club_num as clubNum , 
				heart.club_name as clubName, 
				club.club_thumb_pic as clubThumbPic,
				club.club_startdate as clubStartDate, 
				club.club_enddate as clubEndDate,
				club.club_leader as clubLeader,
				club.club_freq as clubFreq
			FROM heart , club
			WHERE club.club_num = heart.club_num
			AND heart.member_num = #{memberNum}
			AND club.club_fee = 0;
	    ]]>
	</select>

<!--========결제가 필요한 모임=========  -->
	<select id="selectNoFreeClub" resultType="com.project.plus.domain.HeartVO">
		<![CDATA[
			SELECT 
				heart.heart_num as heartNum, 
				heart.member_num as memberNum , 
				heart.club_num as clubNum , 
				heart.club_name as clubName, 
				club.club_thumb_pic as clubThumbPic,
				club.club_startdate as clubStartDate, 
				club.club_enddate as clubEndDate,
				club.club_leader as clubLeader,
				club.club_freq as clubFreq
			FROM heart , club
			WHERE club.club_num = heart.club_num
			AND heart.member_num = #{memberNum}
			AND club.club_fee > 0;
	    ]]>
	</select>
	
	<!-- 찜 목록 추가-->
	<insert id="insertHeart">
		<![CDATA[
		INSERT into heart (member_num, club_num, club_name)
		VALUES (#{memberNum}, #{clubNum}, #{clubName})
		]]>
	</insert>
	
	
	<!-- 찜 목록 삭제  -->
	<delete id="deleteHeart">
		<![CDATA[
			DELETE FROM heart WHERE club_num = #{clubNum} 
			AND member_num=#{memberNum};   
		]]>
	</delete>
	
	<!-- 찜목록 유무 확인 -->
	<select id="selectHeartNum" resultType="int" >
		<![CDATA[
		 SELECT count(club_num)
         FROM heart
         WHERE member_num = ${memberNum}
		 AND club_num = ${clubNum};
        ]]>
	</select> 

<!--========Free Club Insert applyTable=========  -->
<!-- 	<insert id="applyFreeClub">
		<![CDATA[
		INSERT into apply (member_num, club_num, apply_date)
		VALUES (#{memberNum}, #{clubNum},now())
		]]>
	</insert> -->

<!--========이전에 신청했던 모임인지 아닌지 검사하기위한 select문=========  -->
	<!-- <select id="checkApplyClub" resultType="com.project.plus.domain.ApplyVO">
		<![CDATA[
		SELECT apply_num as applyNum
		FROM apply 
		WHERE member_num = #{memberNum}
		AND club_num = #{clubNum}
		]]>
	</select> -->

</mapper>