<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.InquiryMapper">

	<resultMap id="inquiryResult" type="inquiry">
		<id property="inquiryNum" column="inquiry_num" />
		<result property="memberNum" column="member_num" />
		<result property="inquiryTitle" column="inquiry_title" />
		<result property="inquiryContent" column="inquiry_content" />
		<result property="inquiryType" column="inquiry_type" />
		<result property="inquiryState" column="inquiry_state" />
		<result property="inquiryAnswer" column="inquiry_answer" />
 		<result property="inquiryRegDate" column="inquiry_regdate" />
	</resultMap>
	
	<!-- 회원 : 문의글 작성 -->
	<insert id="writeInquiry">
		INSERT INTO INQUIRY (MEMBER_NUM, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_TYPE, INQUIRY_REGDATE) 
		VALUES (#{memberNum}, #{inquiryTitle}, #{inquiryContent},
		#{inquiryType}, NOW())
	</insert>
	
	<!-- 회원 : 문의글 수정 -->
	<update id="editInquiry">
		UPDATE INQUIRY SET INQUIRY_TITLE=#{inquiryTitle}, INQUIRY_CONTENT=#{inquiryContent},
		INQUIRY_TYPE=#{inquiryType} 
		WHERE INQUIRY_STATE='처리중' AND MEMBER_NUM=#{memberNum}
	</update>
	
	<!-- 관리자 : 답변 작성 -->
	<update id="answerInquiry">
		UPDATE INQUIRY SET INQUIRY_ANSWER=#{inquiryAnswer}, INQUIRY_STATE='답변완료' WHERE INQUIRY_NUM=#{inquiryNum} 
	</update>
	
	
	<delete id="deleteInquiry">
		DELETE FROM INQUIRY WHERE INQUIRY_NUM=#{inquiryNum}
	</delete>
	
	<!-- 문의글 개별 상세 조회 -->
	<select id="getInquiry" resultMap="inquiryResult">
		SELECT * FROM INQUIRY WHERE INQUIRY_NUM=#{inquiryNum}
	</select>
	
	<!-- 모든 회원이 쓴 문의글 출력 -->
	<select id="getInquiryList" resultMap="inquiryResult">
		SELECT * FROM INQUIRY
		ORDER BY INQUIRY_REGDATE DESC;
	</select>
	
	<!-- 해당 회원이 쓴 문의글 모두 출력 -->
	<select id="getInquiryPersonList" resultMap="inquiryResult">
		SELECT * FROM INQUIRY
		WHERE MEMBER_NUM=#{memberNum}
	</select>
	
	<!-- 관리자 입장에서 카테고리별 문의글 검색기능? 넣어야하나 말아야하나? 이걸 만들면 관리자용 1:1문의에서 카테고리별로 볼수있는 드롭다운을 또 추가해서 새로 만들어야함
	<select id="getInquiryTypeList" resultMap="inquiryResult">
		SELECT * FROM INQUIRY WHERE
		INQUIRY_TYPE=#{inquiryType}
	</select>-->

</mapper>