<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.MemberMapper">

<!-- colomn part need to modify 완료 -->
<!-- memberJoin.jsp need to be input ${user.porperty} ...-->
<!--  위 내용 about insert member (memberJoin) -->
	<resultMap id="memberResult" type="user">
		<id property="memberNum" column="member_num"/>
		<result property="memberPhone" column="member_phone"/>
		<result property="memberPic" column="member_pic"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberPassword" column="member_password"/>
		<result property="memberName" column="member_name"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="memberPoint" column="member_point"/>
		<result property="memberJoindate" column="member_joindate"/>
		<result property="memberMarketing" column="member_marketing"/>
		<result property="memberLatitude" column="member_latitude"/>
		<result property="memberLongitude" column="member_logitude"/>
				<!-- <result property="uploadfile" column="CNT"/> -->
	</resultMap>

	<!-- 회원가입 -->
	<insert id="joinMember">
		insert into member(member_phone, member_email, member_password, member_name, member_nickname, member_pic, member_marketing, member_point, member_joindate)
		values(#{memberPhone}, #{memberEmail}, #{memberPassword}, #{memberName}, #{memberNickname}, #{memberPic}, #{memberMarketing}, 0, sysdate())
	</insert>
	
<!-- 	<insert id="kakaologin">
		insert into member(member_phone, member_email, member_password, member_name, member_nickname, member_pic, member_marketing, member_point, member_joindate)
		values(#{memberPhone}, #{memberEmail}, #{memberPassword}, #{memberName}, #{memberNickname}, #{memberPic}, #{memberMarketing}, 0, sysdate())
	</insert> -->
	
		<select id="kakaologin" resultMap="memberResult">
		SELECT * FROM member WHERE
		member_email = #{memberEmail}
	</select>
	
	
	<!-- 로그인 관련   "MemberVO"-->
   <!--  
   <select id="login" parameterType="Int" resultType="com.project.plus.domain.MemberVO">
   -->
   <select id="login" resultMap="memberResult">
        SELECT *
          FROM MEMBER
         WHERE member_email = #{memberEmail}
           AND member_password = #{memberPassword}
    </select>
    
    
   	<select id="selectMember" resultMap="memberResult">
		SELECT * FROM member WHERE
		member_email = #{memberEmail}
	</select>
	
    
		<!--  닉네임 휴대전화 비밀번호 -->
 	<update id="updateMember">
		UPDATE MEMBER SET
				member_nickname = #{memberNickname}, 
				member_phone = #{memberPhone}, 
				member_password = #{memberPassword} 
		WHERE member_email = #{memberEmail}
	</update> 
	
<!-- 정연하단 추가 20210326 -->
	
	<select id="selectMemberPoint" resultType="int">
		<![CDATA[
			SELECT member_point as memberPoint
			FROM member 
			WHERE member_num = #{memberNum};
		]]>
	</select> 
	
	<select id="selectMemberPointByNickname" resultType="Integer">
		<![CDATA[
			SELECT member_point as memberPoint
			FROM member 
			WHERE member_nickname = #{memberNickname};
		]]>
	</select>
	
    <!-- 포인트 충전 시 멤버 포인트 업데이트  -->
    <update id="updateMemberPoint">
		UPDATE MEMBER SET member_point= #{memberPoint}
		WHERE member_num= #{memberNum};
	</update>
	
	<!--========참가자 모임 결제 시 member 테이블 현금 업데이트 =========  -->

	<update id="deductMemberPoint">
		UPDATE MEMBER SET member_point = ${memberPoint}
		WHERE (member_num = ${memberNum}); 
	</update>
	
	
	 <!-- 포인트 충전 시 멤버 포인트 업데이트  -->
    <update id="updateClubLeaderPoint">
		UPDATE MEMBER SET member_point= #{memberPoint}
		WHERE member_nickname= #{memberNickname};
	</update>
	
	
	
	
</mapper>