<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.project.plus.mapper.PaymentMapper">


	<select id="selectPaymentList" resultType="com.project.plus.domain.PaymentVO">
		<![CDATA[
			SELECT 
				payment.pay_num as payNum, 
				payment.member_num as memberNum, 
				payment.club_num as clubNum, 
				payment.pay_amount as payAmount, 
				payment.pay_method as payMethod, 
				payment.pay_date as payDate,
				member.member_point as memberPoint 
			FROM payment, member
            WHERE payment.member_num = member.member_num and payment.member_num = #{memberNum};
		]]>
	</select>
	
	<insert id="insertChargePoint">
	<![CDATA[
		INSERT INTO PAYMENT( member_num, club_num, pay_amount, pay_method, pay_date)
		VALUES(#{memberNum}, null , #{payAmount}, '포인트충전', now())
	]]>
	</insert>
	
	<!--  사용자가 포인트 쓴 경우  -->
	<insert id="useMemberPoint">
	<![CDATA[
		INSERT INTO PAYMENT( member_num, club_num, pay_amount, pay_method, pay_date)
		VALUES(#{memberNum}, #{clubNum} , #{payAmount}, '포인트사용', now())
	]]>
	</insert>
	
	<!--  모임장이 포인트 가진 경우  -->
		<insert id="getClubPoint">
	<![CDATA[
		INSERT INTO PAYMENT( member_num, club_num, pay_amount, pay_method, pay_date)
		VALUES(#{memberNum}, #{clubNum} , #{payAmount}, '포인트입금', now())
	]]>
	</insert>
	
<!-- 	 포인트 충전 시 멤버 포인트 업데이트 
    <update id="updateMemberPoint">
		UPDATE MEMBER SET member_point= #{memberPoint}
		WHERE member_num= #{memberNum}
	</update> -->
	
	<!--  리절트맵 select 는  적어여줘야 한다 '<'resultMap id'>'  '<'result properties clubmapper.xml'>'   as 이렇게 안써줘도 된다.-->
	<!-- 	<resultMap id="privacy" type="eventJoinUser">
	    <result property="seq" column="SEQ" />
	    <result property="privacySeq" column="PRIVACY_SEQ" />
    </resultMap>
    as ~~~ 안쓰려면 resultMap 
 -->
</mapper>

<!-- 웹페이지에 보이는 dao가 딥에 접근해서 실행시킴  -->