<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.ReviewMapper"> <!-- 풀펰키지 명 ㅇ  -->
	<resultMap id="reviewResult" type="review">
		<id property="reviewNum" column="reivew_num" />
		<result property="memberNum" column="member_num" />
		<result property="clubNum" column="club_num" />
		<result property="reviewContent" column="review_content" />
		<result property="reviewRate" column="review_rate" />
		<result property="reviewRegDate" column="review_regdate" />
	</resultMap>


<!--========유저가 리뷰 작성 안한 모임=========  -->
	<select id="selectNotReview" resultType="com.project.plus.domain.ReviewVO">
		<![CDATA[
		SELECT 
			   club.club_num as clubNum ,
			   member_num as memberNum ,
			   club.club_thumb_pic as clubThumbPic,
			   club.club_name as clubName,
			   club.club_enddate  as endDate,
			   club.club_startdate as startDate
		FROM apply , club 
		WHERE apply.club_num = club.club_num
	 	AND apply.member_num = #{memberNum}
		AND club.club_num not in ( SELECT club.club_num
								   FROM review
				                   WHERE review.club_num = club.club_num 
				                   AND review.member_num = #{memberNum});
		]]>
	</select>
<!-- 				   date_format( club.club_enddate, '%Y-%m-%d') as endDate,
			   date_format( club.club_startdate, '%Y-%m-%d') as startDate -->
<!--========유저가 리뷰 작성 안한 모임=========  -->
	<select id="selectOkayReview" resultType="com.project.plus.domain.ReviewVO">
		<![CDATA[
		SELECT club.club_num as clubNum ,
			   member_num as memberNum ,
			   club.club_thumb_pic as clubThumbPic,
			   club.club_name as clubName,
			   club.club_enddate  as endDate,
			   club.club_startdate as startDate
		FROM  review , club 
		WHERE review.club_num = club.club_num and review.member_num = #{memberNum}; 
		]]>
	</select>
	
	<!--
	<insert id="insertReview">
		<![CDATA[
		insert into review (review_num, member_num, club_num, review_content,review_rate,review_regdate)
		values(#{reviewNum}, #{memberNum}, #{clubNum}, #{reviewContent},#{reviewRate},#{reviewRegDate})
		]]>
	</insert>
	-->
	
	<!-- 모임별 최근 날짜 순으로 리뷰 출력 -->
	<select id="getReviews" resultMap="reviewResult">
        SELECT * FROM review WHERE club_num = #{clubNum} ORDER BY review_regdate DESC LIMIT 0, 5
    </select>
    
	<select id="getMoreReviews" resultMap="reviewResult" parameterType="java.util.HashMap">
        SELECT * FROM review WHERE club_num = #{clubNum} LIMIT #{startIndex}, 5
    </select>
    
    <select id="getReviewCount" resultType="int">
    	SELECT count(*) FROM review WHERE club_num = 11 
    </select>
</mapper>

