<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.ReviewMapper"> <!-- 풀펰키지 명 ㅇ  -->
	<resultMap id="reviewResult" type="review">
		<id property="reviewNum" column="reivew_num" />
		<result property="memberNum" column="member_num" />
		<result property="clubNum" column="club_num" />
		<result property="reviewContent" column="review_content" />
		<result property="reviewRate" column="review_rate" />
		<result property="reviewRegDate" column="review_regdate" />
	<!-- <collection property="member" resultMap="user" /> -->
		<association property="members" resultMap="memberResult" />
	</resultMap>

	
	<resultMap id="memberResult" type="user">
		<id property="memberNum" column="member_num"/>
		<result property="memberName" column="member_name"/>
		<result property="memberNickname" column="member_nickname"/>
	</resultMap> 


<!--========유저가 리뷰 작성 안한 모임=========  -->
	<select id="selectNotReview" resultType="com.project.plus.domain.ReviewVO">
		<![CDATA[
		SELECT 
			   club.club_num as clubNum ,
			   member_num as memberNum ,
			   club.club_thumb_pic as clubThumbPic,
			   club.club_name as clubName,
			   club.club_enddate  as endDate,
			   club.club_startdate as startDate
			   
		FROM apply , club 
		WHERE apply.club_num = club.club_num
	 	AND apply.member_num = #{memberNum}
		AND club.club_num not in ( SELECT club.club_num
								   FROM review
				                   WHERE review.club_num = club.club_num 
				                   AND review.member_num = #{memberNum})
		AND club_enddate < ( NOW());
		]]>
	</select>
<!-- 				   date_format( club.club_enddate, '%Y-%m-%d') as endDate,
			   date_format( club.club_startdate, '%Y-%m-%d') as startDate -->
<!--========유저가 리뷰 작성한 모임=========  -->
	<select id="selectOkayReview" resultType="com.project.plus.domain.ReviewVO">
		<![CDATA[
		SELECT club.club_num as clubNum ,
			   member_num as memberNum ,
			   club.club_thumb_pic as clubThumbPic,
			   club.club_name as clubName,
			   club.club_enddate  as endDate,
			   club.club_startdate as startDate
		FROM  review , club 
		WHERE review.club_num = club.club_num AND review.member_num = #{memberNum}
		AND club_enddate < ( NOW());
		]]>
	</select>
	
	<insert id="insertReview">
		<![CDATA[
		INSERT into review (member_num, club_num, review_content,review_rate,review_regdate)
		VALUES (#{memberNum}, #{clubNum}, #{reviewContent},#{reviewRate},now())
		]]>
	</insert>
	
	
	<!-- 모임별 최근 날짜 순으로 리뷰 출력 -->
	<select id="getReviews" resultMap="reviewResult">
        SELECT member_nickname, review_content, review_rate, review_regdate FROM review r, member m WHERE club_num = #{clubNum} 
        AND r.member_num = m.member_num
        ORDER BY review_regdate DESC LIMIT 0, 5
    </select>
    
	<select id="getMoreReviews" resultMap="reviewResult" parameterType="java.util.HashMap">
       <!--  SELECT * FROM review WHERE club_num = #{clubNum} LIMIT #{startIndex}, 5 -->
        SELECT member_nickname, review_content, review_rate, review_regdate FROM review r, member m WHERE club_num = #{clubNum} 
        AND r.member_num = m.member_num
        ORDER BY review_regdate DESC LIMIT #{startIndex}, 5
        
    </select>
    
    <select id="getReviewCount" resultType="int">
    	SELECT count(*) FROM review WHERE club_num = #{clubNum}
    </select>
    
    <!-- 정연하단추가 20210326 -->
    <!-- 서버 테스트를 위한 쿼리 -->
	<select id="writeClubReview" resultType="String">
        SELECT NOW()
    </select>
    
    <!-- 이전 리뷰 작성 불러오기 -->
   	<select id="readReview" resultType="com.project.plus.domain.ReviewVO">
		<![CDATA[
		SELECT review_rate as reviewRate,
			   review_content as reviewContent,
			   member_num as memberNum,
			   club_num as clubNum
		FROM  review 
		WHERE club_num = #{clubNum} 
		AND member_num = #{memberNum}
		]]>
	</select>
    
    <!-- 리뷰수정 -->
    <update id="updateReview">
    <![CDATA[
	    UPDATE review SET review_content = #{reviewContent}, review_rate = #{reviewRate}
		WHERE (member_num = #{memberNum} and club_num= #{clubNum});
	]]>  
    </update>
    
     <!-- 리뷰삭제 -->
    <delete id="deleteReview">
    <![CDATA[
  		DELETE FROM review 
  		WHERE (member_num = #{memberNum} and club_num= #{clubNum});
	]]>  
    </delete>
    
    
    
</mapper>

